* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(18, 35, 54);
}
.container {
  width: 95%;
  min-height: 80vh;
  margin-top: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60px;
  border-bottom: 2px solid;
  padding: 10px;
}
button {
  color: black;
  font-size: large;
  font-weight: bolder;
  padding: 0 20px 0 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.column {
  min-height: 60vh;
  background: rgb(34, 53, 73);
  border-radius: 30px;
}
.task-header {
  font-size: xx-large;
  font-weight: bolder;
  padding: 30px;
}

.task {
  font-size: 20px;
  font-weight: 100;
  margin: 10px;
  cursor: grab;
  color: white;
  background: rgb(53, 68, 80);
  border-radius: 15px;
  padding: 10px;
}
.task-cont {
  min-height: 250px;

  padding: 10px;
}

@media (max-width: 450px) {
  .header {
    font-size: 20px;
  }
  button {
    font-size: small;
    padding: 4px;
  }
  .task-header {
    font-size: small;
    padding-bottom: 0px;
  }
  .task {
    font-size: 12px;
    border-radius: 8px;
  }
  .board {
    padding: 10px;
    grid-template-columns: 1fr;
  }
  .column {
    min-height: 44vh;
  }
}

@media (min-width: 450px) and (max-width: 900px) {
  .header {
    font-size: 30px;
  }
  .task-header {
    font-size: small;
    padding-bottom: 0px;
  }
  .task {
    font-size: 12px;
    border-radius: 8px;
  }
  .board {
    padding: 10px;
    grid-template-columns: 2fr 2fr;
  }
  .column {
    min-height: 44vh;
  }
}
